<% @users.each do |user| %>
     <ul>
        <li class="users"><%= user.first_name %> <%= user.last_name %></li>
        <ul><li>
            <% user.events.each do |event| %>
                <li><%= event.name %>
                </li>
            <% end %>

            </li>
        </ul>
     </ul>
<% end %>
