<h1>Users</h1>
 <% @users.each do |user| %>
     <ul>
        <li><%= user.first_name %> <%= user.last_name %></li>
        <ul><li>Attending: <%= user.events.title %></li></ul>
     </ul>
 <% end %>
