<!-- in this file I want to show all the events that a user is going to. And also then show underneath, all the other people attending that event -->

<% @current_user.attending.each do |events| %>

    <ul>
        <li><%= events.event.name %></li> 
        <ul>
            <li>Friends also going:</li>            
            <% events.event.users.each do |user| %>
                <li><%= user.first_name unless user.first_name == @current_user.first_name && user.attending.select { |x| x.attending == false } %><li>                 
            <% end %>
        </ul>        
    </ul>

<% end %>


        



