<!-- in this file I want to show all the events that a user is going to. And also then show underneath, all the other people attending that event -->

<% @current_user.events.each do |event| %>
     <ul>
        <li><%= event.name %></li>
        <ul>
            <li>Friends also going:</li>
            <% @current_user.events.each do |event| %>
                <% event.users.each do |user| %>
                    <li><%= user.first_name %><li>                 
                <% end %>
            <% end %>
        </ul> 
     </ul>
<% end %>

