<h1>Showing and hiding part 2</h1>

<ul>
    <li id="option1">Option 1 <span class="removeBtn" id="remove1">(x)</span></li>
    <li id="option2">Option 2<span class="removeBtn" id="remove2">(x)</span></li>
</ul>
<script type="text/javascript">



$(document).ready(function() {
    $('#option1').click(function() {
        $('#option1').toggle(500);

    });
    $('#option2').click(function() {
        $('#option2').toggle(2000);

    });
    



});

</script>

   



