<h1>Showing and hiding part 2</h1>


<a href="#" id="toggle">show/hide</a>
<div id="bodyText">

Fish eat fish

</div>

<script type="text/javascript">

// $(document).ready(alert('Ready for Jquery?'));

$(document).ready(function() {
    $('#body.Text').hide();
    $('#toggle').toggle(
        function() {
            $('#bodyText').show('slow');
            $('#bodyText').effect('highlight', {}, 2000);
        },
        function() {
            $('#bodyText').hide();
        }
    );
});

</script>

   


