<!-- on this page i want to build a form. In HAML. This form allows a user to add an event to their database. It's just like the seed data. Or another form that we did in Joel's examples.  -->

<% @rss.each do |event| %>
        <div class="event_list">
        <ul>

            <li><h2><%= event.title %></h2></li>
            <li><%= event.summary %></li>
            <li class ="option_no"><a><span class="glyphicon glyphicon-remove-circle"></span></a></li>  
            <li class ="option_yes">    
                <%= link_to events_path(:event_id => event.id), {:method=> :post, :remote => true, class: "glyphicon glyphicon-ok-circle"} do  %>
                <% end %>
            </li>
     
        </ul>
       </div>
<% end %>



<script type="text/javascript">

$(document).ready(function() {

   
    $('.option_no').click(function() {
        $(this).closest('div.event_list').addClass('animated bounceOutLeft');
        $(this).closest('div.event_list').hide(1000);
    });
    $('.option_yes').click(function() {
        $(this).closest('div.event_list').addClass('animated bounceOutRight');
        $(this).closest('div.event_list').hide(1000);
    });
 });
</script>
