.option_yes {
    
    display:inline;
    font-size:42px;
    
    span {
    
    margin: 5px;

    
  }
}

.option_no {
    
    display:inline;
    font-size:42px;

    span {
    
    margin-top: 20px;
}

}
