.option_yes {
    
    display:inline;
    font-size:32px;
    
    span {
    
    margin-top: 20px;

    
  }
}

.option_no {
    
    display:inline;
    font-size:32px;

    span {
    
    margin-top: 20px;
}

}
