<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id = "container">
  <a href="/events"><h1>Play</h1></a>
  <a href="/users"><h1>Go</h1></a>
  
<%= yield %>
  </div>  
</body>
</html>
