<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id = "container">
  <h1>PlayGo</h1>
  <nav>
    <a href="/events">Play</a>
    <a href="/users">Go Friend</a>


<%= yield %>
  </div>  
</body>
</html>
